/**
 ** Base
 */
blockquote.pull-quote {
  width: 50%;
}

/**
 ** Regions
 */
#page {
  .transition(all .5s);
}

body.navinate--is-expanded {
  #page {
    padding-right: 200px;
  }
}

#header {
  height: 0;
}

#top {
  .front & {
    background: #000 url(../images/content/homepage--hero-1.jpg) 50% 50% no-repeat;
    height: 400px;
    padding-top: 50px;
  }
}

#banner {
  height: 300px;

  .grid {
    padding: 0;
  }

  .box--fi-core-fi-core-page-strapline {
    > .box__inner {
      display: table;
      height: 300px;
      width: 100%;

      > .box__content {
        display: table-cell;
        font-family: @alt-font-family;
        letter-spacing: -5px;
        .font-size(70);
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        color: @colour-secondary-light;
      }
    }
  }
}

.box--gk-locations-gk-locations-facilities {
  .box__inner {
    > .box__content {
      .clearfix();

      .location__facilities {
        > .location__facility {
          float: left;
          width: 50%;
          .padding(right);
        }
      }
    }
  }
}

.locations-list--by-location,
.locations-list--by-letter {
  > .box--location-list-group,
  > .box--locations-list-group {
    width: 50%;
    float: left;

    &:nth-child(even) {
      clear: left;
    }
  }
}

/**
 ** By section
 */
.section-menus {
  #page-title {
    .element-invisible();
    margin: 0;
    padding: 0;
  }

  #main {
    .padding(top, 2);
  }
}

.section-what-we-do-best {
  #content-bottom {
    > .grid__cell:first-child + .grid__cell {
      .margin(top);
    }
  }

  .promotion--have-your-cake-and-eat-it {
    .promotion__cta {
      background-color: @colour-secondary;

      &:hover {
        background-color: @colour-primary;
      }
    }
  }

  #bottom {
    .grid__cell {
      margin-bottom: 0;
    }
  }
}

/**
 ** Header elements
 */
.branding {
  .clearfix();
  position: static; // Fixes a weird bug in Chrome to do with centering the logo... unsure why.

  > a {
    position: absolute;
    z-index: 10;
    width: 191px;
    top: -35px;
    left: 50%;
    margin-left: -95px;

    .transition(all .4s ease);

    &:hover {
      .transform(translate(0, 5px));
    }

    > img {
      margin: 0;
    }
  }
}

.front #bottom {
  > .container__inner {
    > .grid {
      padding-bottom: 0;
    }
  }
}

/**
 ** Navigation
 */
#navigation {
  height: 130px;

  .menu-block-gk-core-main-menu {
    background: url(../images/misc/dotted-header-divider.png) center top no-repeat;
    .clearfix();
    .margin(top, 2.75);
  }

  .nav {
    margin: 0;
    .padding(horizontal, 1.5);
    .padding(top, .75);
    width: 100%;
    .clearfix();

    > .nav__item {
      float: left;
      .margin(left, 5);

      &:first-child { margin-left: 0 }

      &:first-child + .nav__item {
        margin-right: 300px;
        text-align: left;
      }

      > a {
        font-weight: 700;
      }
    }
  }
}

/**
 ** Box
 */
#footer .box {
  margin-bottom: 0;
}

.box--menu-menu-helpful-links,
.box--fi-core-fi-footer-affiliates {
  .sprite-bg(19, 17);
  min-height: 150px;
}

.box--menu-menu-helpful-links {
  .nav {
    .margin(left, -1);
    padding-left: 20%;
    padding-right: 20%;
  }
}

.box--fi-core-fi-core-footer-menu,
.box--menu-menu-helpful-links {
  text-align: left;
}

/**
 ** Promotions
 */
.promotion--carvery-chalk-board {
  margin-top: -55px;
}

.box--promotion-carvery-text-desktop {
  margin-left: -25px;
  margin-right: 25px;
  margin-bottom: 0;
  height: 405px;
  width: 640px;
  overflow: hidden;
}

.box--promotion-carvery-chalk-board {
  margin-left: -@base-gutter-width - 10px;
}

.box--contact-panel {
  > .box__inner {
    > .box__content {
      position: relative;
      padding-top: 60px;

      .box__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

/**
 ** Forms
 */
.section-pub-search #gk-locations-search-form {
  #edit-search {
    width: 80%;
    margin: 0 auto;
    .padding(vertical, .5);

    > .fieldset-wrapper {
      > h1 {
        margin: 0;
        float: left;
        .margin(right, 1.5);
      }

      > .form-item {
        width: 300px;
      }

      > .form-button {
        .margin(right, 1.5);
      }

      > .form-item__toggle {
        float: left;
        line-height: @base-gutter-width * 2.5 + 0px;
      }
    }
  }
}

.section-pub-search #gk-locations-search-form {
  #edit-advanced-search {
    > .fieldset-wrapper > .form-wrapper {
      > .form-item--edit-facilities {
        width: 80%;
        margin: 0 auto;

        .form-item__field .form-item {
          float: left;
          width: 33%;

          &:nth-child(3n+1) {
            clear: left;
          }

          &:nth-child(3n),
          &:nth-child(3n-1) {
            .padding(left, 5);
          }

          > .form-item__field {

          }
        }
      }
    }
  }
}

/**
 ** Locations
 */
.section-pub-search {
  #header {
    position: relative;
    z-index: 50;
  }

  .location-map {
    height: 620px;
    border-top: 0;
  }
}

.js .box--gk-locations-gk-locations-search-results-map {
  z-index: 10;

  .box__content {
    padding-left: 320px;
    .transition(all .2s);

    &.is-expanded {
      padding-left: 0;
    }
  }
}

.js .box--gk-locations-gk-locations-search-results-list {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-left: 0;
  .margin(left);

  .location-search-results {
    z-index: 11;
    height: 619px;
    width: 320px;
    .padding(vertical, .75);
    line-height: 1.4;
    .box-shadow(2px 0 3px rgba(0,0,0,.25));

    .transition(all .2s);
    &.is-closed {
      .transform(translate(-100%, 0));
      .box-shadow(none);
    }

    position: relative;
    .location-search-results__toggle {
      &:before {
        .font-size(32);
        line-height: 70px;
        text-align: center;
        color: @colour-secondary-dark;
        display: block;
      }

      position: absolute;
      display: block;
      top: 65px;
      right: -35px;
      width: 35px;
      height: 70px;

      background: @colour-secondary;
      .box-shadow(3px 2px 3px rgba(0,0,0,.35));
    }

    > .location-search-results__list-item {
      .clearfix();

      > .location-search-results__cta {
        float: right;
      }
    }
  }
}


/**
 ** Forms
 */
.webform-component {
  &.webform-container-inline {
    padding-left: 200px;

    .form-item__label {
      float: left;
      margin: 0 0 0 -200px;
      padding-top: 12px;
      width: 200px;
      .padding(right, .5);
      text-align: left;
    }
  }

  // &.webform-component-textfield.webform-container-inline {
  //   padding-left: 0;

  //   > .form-item__label {
  //     display: table-cell;
  //     width: 200px;
  //     min-width: 200px;
  //     vertical-align: middle;
  //     margin: 0;
  //     padding-top: 0;
  //     line-height: 1;
  //   }
  // }
}
