/**
 ** Regions
 */
#top {
  .front & {
    background: #000 url(../images/content/homepage--hero-1.jpg) 50% 50% no-repeat;
  }
}

body.navinate--is-expanded {
  #header {
    left: -50%;
    right: 50%;
  }

  #top, #main, #bottom, #footer, #footer-bottom, #banner {
    .transform(translate(-50%, 0));
  }
}

#banner {
  height: 200px;

  .grid {
    padding: 0;
  }

  .box--fi-core-fi-core-page-strapline {
    > .box__inner {
      display: table;
      height: 200px;
      width: 100%;

      > .box__content {
        display: table-cell;
        font-family: @alt-font-family;
        .font-size(50);
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        color: @colour-secondary-light;
      }
    }
  }
}

.portable-nav {
  width: 50%;

  &.is-closed {
    box-shadow: none;
    .transform(translate(100%, 0));
  }

  &.is-open {
    .transform(translate(0, 0));
  }
}

/**
 ** Box
 */
#footer .box {
  margin-bottom: 0;
}

.box--menu-menu-helpful-links {
  .nav {
    .margin(left, -1);
    padding-left: 40%;
  }
}

.box--fi-core-fi-core-footer-menu,
.box--menu-menu-helpful-links {
  text-align: left;
}

.box--menu-menu-helpful-links,
.box--fi-core-fi-footer-affiliates {
  .sprite-bg(19, 17);
  min-height: 150px;
}

.box--contact-panel {
  > .box__inner {
    text-align: left;

    > .box__content {
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
        .padding(left, 1.5);

        &:first-child {
          width: 170px;
          padding: 0;
        }

        > img {
          margin-bottom: 0;
        }
      }
    }
  }
}

/**
 ** Promotions
 */
.promotion--carvery-chalk-board {
  margin-top: -13%;
}

.promotion--carvery-text-portable {
  padding-top: 13%;
}

/**
 ** By section
 */
.section-menus {
  #page-title {
    .element-invisible();
    margin: 0;
    padding: 0;
  }
}

/**
 ** Locations
 */
.section-pub-search #gk-locations-search-form {
  #edit-advanced-search {
    > div {
      > .form-item--edit-facilities {
        .form-item__field .form-item {
          float: left;
          width: 50%;

          &:nth-child(odd) {
            clear: left;
          }

          &:nth-child(even) {
            .padding(left, 2);
          }
        }
      }
    }
  }
}
