/**
 ** Base
 */
#page-title,
.section-what-we-do-best .box--node > .box__inner h1 {
  .font-size(30);
  .padding(bottom, .75);
  .margin(bottom, .75);
  text-align: center;
}

/**
 ** Regions
 */
#footer {
  text-align: center;
}

body.navinate--is-expanded {
  #header {
    right: 80%;
    left: -80%;
  }

  #top, #main, #bottom, #footer, #footer-bottom, #banner {
    .transform(translate(-80%, 0));
  }
}

.portable-nav {
  width: 80%;

  &.is-closed {
    box-shadow: none;
    .transform(translate(100%, 0));
  }

  &.is-open {
    .transform(translate(0, 0));
  }
}

#banner {
  display: none;
}

#page-title {
  text-align: center;
}

/**
 ** Box
 */
.box--fi-core-fi-core-footer-menu {
  text-align: right;
}

.box--menu-menu-helpful-links {
  text-align: left;
  .nav {
    .margin(horizontal, .75);
  }
}

.box--fi-core-fi-footer-affiliates > .box__inner {
  .padding(top);
  .margin(top, .5);
  border-top: 1px dashed @colour-neutral-light;
}

.box--order-by-links {
  > .box__inner {
    > .box__content {
      text-align: center;

      &:before {
        content: "Filter by";
        margin-right: 0;
        display: block;
        .margin(bottom, .5);
      }

      > a {
        margin-right: 0;
        .margin(bottom, .5);
        display: block;
      }
    }
  }
}

.box--contact-panel {
  > .box__inner {
    > .box__content {
      position: relative;
      padding-top: 60px;

      .box__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

/**
 ** Locations
 */
 .node--location {
  .gk-core-slideshow {
    .element-hidden();
  }
}

/**
 ** Tabsets
 */
.tabset {
  .tabset__nav {
    border: 0;
    .margin(bottom, 1.5);

    > li {
      .margin(bottom, .5);
      margin-right: 0;
      float: none;
      display: block;
      text-align: center;

      > a {
        .padding(horizontal, 2);
        .border-radius(3px 3px 0 0);
        border-color: @colour-neutral-light;
        background-color: @colour-secondary;

        font-family: @headings-font-family;
        .font-size(17);
        .padding(vertical, .5);
        color: @colour-neutral;


        &:hover {
          background-color: @colour-secondary;
          color: @colour-secondary-light
        }
      }

      &.is-active > a,
      &.is-active > a:hover {
        background-color: @colour-secondary-light;
        border-color: @colour-neutral-light;
        color: @colour-neutral-dark;
        margin-bottom: 0;
      }
    }
  }
}

/**
 ** Forms
 */
.section-pub-search #gk-locations-search-form {
  #edit-search {
    > h1 {
      .element-hidden();
      margin: 0;
      padding: 0;
    }

    .form-item__toggle {
      text-align: center;
      display: block;
      float: none;
    }
  }

  #edit-advanced-search {
    > div {
      > .form-item--edit-facilities {
        .form-item__field {
          width: 100%;
          clear: both;
          .clearfix();
        }
      }
    }
  }
}
