/**
 ** Regions
 */
body.navinate--is-expanded {
  overflow: hidden;
}

#page {
  padding-top: 50px;
}

#top, #main, #bottom, #footer, #footer-bottom, #header, #banner {
  .transition(all .25s);
}

#top, #main, #bottom, #footer, #footer-bottom, #banner {
  body.navinate--is-expanded &,
  body.navinate--is-closed & {
    &:after {
      content: " ";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 105;

      background: rgba(0,0,0,.5);
    }
  }

  body.navinate--is-expanded & {
    &:after {
      display: block;
    }
  }

  body.navinate--is-closed & {
    &:after {
      display: none;
    }
  }
}

#header {
  position: fixed;
  z-index: 110;
  right: 0;
  left: 0;
  top: 0;
  body.admin-menu & { top: 29px; }

  background: @colour-primary;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.3), inset 0px 10px 40px rgba(0,0,0,.2)");

  .container__inner {
    margin: 0;
    .clearfix();
  }
}

#primary, #secondary {
  .margin(bottom);
}

/**
 ** Branding
 */
.branding {
  margin: 0;
  float: left;
  width: 165px;
  height: 50px;
  .padding(vertical, .25);
  .padding(horizontal);

  .branding__logo {
    max-height: 100%;
    width: auto;
  }
}

/**
 ** Navigation
 */
.navinate-toggle {
  color: @colour-neutral-lighter;
  height: 50px;
  width: 50px;
  display: block;
  vertical-align: middle;
  text-align: center;
  float: right;

  .transition(all .5s);

  &:before {
    .font-size(30);
    line-height: inherit;
  }

  &.is-expanded {
    .box-shadow(inset 3px 3px 8px rgba(0,0,0,.3));
  }
}

.portable-nav {
  overflow: auto;
  position: fixed;
  z-index: 109;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  body.admin-menu & { top: 29px; }
  background: @colour-secondary-light;
  text-align: center;

  .transition(all .25s);

  > .grid__cell {
    margin: 0;
    padding: 0;

    .nav {
      margin: 0;

      > .nav__item {
        > a {
          .font-size(20);
          display: block;
          .padding(vertical, .5);
          font-family: @headings-font-family;
        }
        border-bottom: 1px dashed @colour-primary;
      }
    }
  }
}

/**
 ** Box
 */
.box--fi-locations-fi-locations-short-search-form{
  > .box__inner {
    max-width: 400px;
    margin: 0 auto;
  }
}

.box--aside,
.box--join-the-team {
  > .box__inner {
    > .box__content {
      .promotion-group {
        .element-hidden();
      }
    }
  }
}

/**
 ** Forms
 */
.js .section-pub-search #gk-locations-search-form,
.no-js .section-pub-search #gk-locations-search-form {
  #edit-search {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    > h1 {
      margin-left: -25px;
      margin-top: 0;
    }

    .form-item__toggle {
      .margin(top, .5);
      .inline-block;
      clear: both;
      margin-left: -25px;
    }

    #edit-location {
      text-align: center;
      padding-left: 5px;
    }
  }
}

.webform-component.webform-component-managed_file {
  .form-managed-file {
    > .form-file,
    > .file {
      border-right: 1px solid @colour-neutral-light;
      float: none;
      width: 100%;
    }

    .form-submit {
      .border-radius(0);
      float: right;
      .margin(top, .5);
    }

  }
}

/**
 ** Locations
 */
.location-search-results {
  .location-search-results__toggle {
    display: none;
  }
}

.section-pub-search #top:before {
  border-top: 0;
}

/**
 ** By section
 */
.section-what-we-do-best {
  #content-bottom {
    .padding(top, 1.5);

    > .grid__cell:first-child {
      .margin(top);
    }
  }
}

/**
 ** Promotions
 */
.promotion {
  .promotion__cta {
    font-size: 15px;
  }
}
