@import "@{minima-path}/mixins/box_model.less";
@import "@{minima-path}/mixins/clearfix.less";
@import "@{minima-path}/mixins/inline-block.less";
@import "@{minima-path}/mixins/css3.less";
@import "@{minima-path}/mixins/typography.less";
@import "@{minima-path}/mixins/width.less";
@import "@{minima-path}/mixins/push.less";
@import "@{minima-path}/mixins/pull.less";
@import "@{minima-path}/mixins/grid.less";

@import "@{minima-path}/mixins/states.less";
@import "@{minima-path}/base/states.less";
@import "@{minima-path}/layout/desk.less";
@import "layout/desk.less";

/**
 ** < IE 9
 */
.lt-ie9 {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  .selecter .selecter-selected {
    line-height: 48px !important;
  }

  #navigation {
    .menu-block-gk-core-main-menu {
      //margin-top: 40px!important;
    }
  }
}

.lt-ie8 {
  .box--promotion-carvery-text-desktop {
    margin-right: 0px;
  }
}
