// Border images
.border-image(@properties) {
  -webkit-border-image: @properties; /* Safari 5 */
     -moz-border-image: @properties; /* Firefox */
       -o-border-image: @properties; /* Opera */
      -ms-border-image: @properties; /* ie11? */
          border-image: @properties;
          border-style: solid;
}
