.button-append(@button-width: 35px) {
  .form-item {
    padding-right: @button-width;
    float: left;

    > .form-item__field {
      margin: 0;

      > input {
        .border-radius(@base-border-radius 0 0 @base-border-radius);
        border: 1px solid #000;
        border-right: 0;
      }
    }
  }

  .form-button,
  .form-submit {
    .border-radius(0 @base-border-radius @base-border-radius 0);
    .font-size(23);

    width: @button-width;
    float: left;
    margin-left: -@button-width;

    .box-shadow(inset 0 2px 2px rgba(0,0,0,.28));

    border: 1px solid #000;

    border-left: 0;
    .padding(horizontal, .25);
    padding-top: 0;
    padding-bottom: 0;
    height: 48px;

    position: relative;
  }
}
