.section(@background: @colour-secondary-light) {
  background: @background;
  .padding(horizontal, 1.5);
  .padding(vertical, 1.25);
}

.section--border(@background: @colour-secondary-light, @border: 2px solid @colour-secondary) {
  .section(@background);

  position: relative;
  z-index: 1;
  &:before {
    content: " ";
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    z-index: -1;

    border: @border;
  }
}
