.affiliates {
  text-align: center;

  &.list--inline {
    > .affiliate {
      .margin(horizontal, .6);
      .margin(bottom);
    }
  }
}

.affiliate {
  > a {
    display: block;
    height: 100%;
  }

  &.affiliate--enjoy-responsibly {
    text-indent: -9999px;
    .sprite-element(0, 0, 95px, 50px);
    .inline-block();
  }

  &.affiliate--free-wifi {
    text-indent: -9999px;
    .sprite-element(2, 0, 75px, 50px);
    .inline-block();
  }
}
