.box {}

.box--fi-locations-fi-locations-short-search-form {
  .front & {
    position: relative;
    margin-top: 60px;
    &:before {
      content: "";
      display: block;
      position: absolute;

      .sprite-element(4, 0, 260px, 40px);
      top: -60px;
      left: 50%;
      margin-left: -130px;
    }
  }

  > .box__inner {
    @bg = @colour-neutral-darker;

    background: @bg;
    .front & { background: rgba(red(@bg), green(@bg), blue(@bg), .8); }
    .padding(horizontal, 2);
    .padding(top);
    .padding(bottom, 1.5);
    vertical-align: middle;
    text-align: center;

    position: relative;
    .front & {
      padding-top: 110px;
      &:before {
        content: "";
        display: block;
        position: absolute;

        .sprite-element(0, 1, 245px, 60px);
        top: 0;
        .margin(top, 1.5);
        left: 50%;
        margin-left: -123px;
      }
    }

    &:after {
      content: " ";
      position: absolute;
      display: block;
      top: 7px;
      right: 7px;
      bottom: 7px;
      left: 7px;

      border: 1px solid #fff;
      .border-radius(1px);
    }

    > .box__title {
      .h1();
      color: @colour-secondary-light;
      .font-size(38);
      text-transform: none;
      .padding(bottom, .5);
      .margin(bottom);

      position: relative;
      &:after {
        content: " ";
        .sprite-element(0, 2, 220px, 5px);
        position: absolute;
        margin-left: -110px;
        left: 50%;
        bottom: 0;
      }
    }


    > .box__content {
      position: relative;
      z-index: 2;

      > p {
        color: @colour-secondary-light;
        margin-left: 10%;
        margin-right: 10%;
        .font-size(17);
      }
    }

    .front & {
      > .box__title,
      > .box__content > p {
        .element-hidden();
        height: 0;
        padding: 0;
        margin: 0;
      }
    }
  }
}

// Common
.box--gk-locations-gk-locations-contact,
.box--gk-locations-gk-locations-times,
.box--gk-locations-gk-locations-info,
.box--aside,
.box--join-the-team {
  > .box__inner {
    .section--border();
  }
}

.box--aside,
.box--join-the-team {
  > .box__inner {
    > .box__title {
      .h1();
      text-align: center;
      .font-size(40);
      line-height: 1;
      .padding(bottom, .5);
      text-transform: capitalize;

      position: relative;
      &:after {
        content: " ";
        .sprite-element(0, 3, 220px, 5px);
        position: absolute;
        margin-left: -110px;
        left: 50%;
        bottom: 0;
      }
    }

    > .box__content {
      > .promotion,
      .promotion-group {
        .clearfix();
        .margin(horizontal, -1.5);
        .margin(vertical);

        .promotion-group__pager {
          z-index: 106;
          position: absolute;
          bottom: 7px;
          right: 7px;
        }
      }

      .button {
        margin-left: 10%;
        margin-right: 10%;
        display: block;
        text-align: center;

        &:after {
          content: "\f105";
          display: inline-block;
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          text-decoration: inherit;
          -webkit-font-smoothing: antialiased;
          speak: none;

          .margin(left, .5);
          vertical-align: middle;
        }
      }
    }
  }
}

.box--join-the-team {
  > .box__inner {
    background: @colour-tertiary;

    &:before {
      border: 1px dashed @colour-secondary-light;
    }

    > .box__title {
      color: @colour-secondary-light;

      &:after {
        .sprite-element(0, 2, 220px, 5px);
      }
    }

    > .box__content {
      color: @colour-secondary-light;

      .button {
        background: @colour-secondary-light;
        color: @colour-primary-light;

        &:hover {
          background: @colour-primary;
          color: @colour-secondary-light;
        }
      }
    }
  }
}

.box--gk-locations-gk-locations-contact,
.box--gk-locations-gk-locations-times,
.box--gk-locations-gk-locations-info, {
  > .box__inner {
    > .box__title {
      font-family: @alt-font-family;
      color: @colour-primary-light;
      .font-size(34);
      letter-spacing: -2px;
      text-transform: capitalize;
      line-height: 1;
      .margin(bottom, 1.5);
    }

    > .box__content {
      .font-size(14);
      line-height: 1.3;

      h4,
      .location__name {
        .font-size(19);
        font-weight: bold;
        border-bottom: 2px dotted @colour-neutral-light;
        .padding(bottom, .5);
        .margin(bottom, .5);
        .margin(top, 1.5);
      }

      .location__name {
        > a {
          color: @colour-neutral-dark;
          .font-size(21);
          font-weight: normal;

          &:hover {
            color: @colour-primary-light;
          }
        }
      }

      .location__address,
      .location__contact,
      .location__opening-hours,
      .location__food-hours,
      .location__carvery-hours {
        > h4 {
          position: relative;
          &:after {
            content: " ";
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.box--gk-locations-gk-locations-info {
  > .box__inner {
    > .box__title {
      text-indent: -9999px;
      height: 65px;

      position: relative;
      &:before {
        content: " ";
        .sprite-element(0, 5, 252px, 65px);
        position: absolute;
        left: 50%;
        margin-left: -126px;
        top: 0;
      }
    }

    .location__info {
      text-align: center;

      > div, h3 {
        text-align: left;
      }
    }

    .button {
      text-align: center;
      .margin(top);

      &:after {
        content: "\f105";
        display: inline-block;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        speak: none;

        .margin(left, .5);
        vertical-align: middle;
      }
    }
  }
}

.box--gk-locations-gk-locations-contact,
.box--gk-locations-gk-locations-info {
  > .box__inner {
    > .box__content {
      .location__address > h4:after { .sprite-element(5,1, 19px, 32px); top: -4px; }
      .location__contact > h4:after { .sprite-element(5,2, 23px, 33px); top: -8px; }

      .social-links {
        padding: 0;
        .margin(top, 1.5);

        > .social-link {
          list-style: none;
          display: inline-block;
          vertical-align: middle;
          .margin(right);

          > a {
            .transition(all .3s);

            &.facebook {
              text-indent: -9999px;
              .sprite-element(10, 0, 41px, 41px);
            }

            &.twitter {
              text-indent: -9999px;
              .sprite-element(10, 1, 35px, 31px);
            }

            &:hover {
              .transform(rotate(10deg));
            }
          }
        }
      }
    }
  }
}

.box--gk-locations-gk-locations-times,
.box--gk-locations-gk-locations-info {
  > .box__inner {
    > .box__content {
      .location__opening-hours > h4:after { .sprite-element(6,1, 26px, 23px); }
      .location__food-hours    > h4:after { .sprite-element(7,1, 38px, 23px); top: -2px; }
      .location__carvery-hours > h4:after { .sprite-element(6,2, 30px, 31px); top: -4px; }
    }
  }
}

.box--gk-locations-gk-locations-facilities {
  .box__inner {
    .section--border(url(../images/textures/bg--chalk.jpg), 1px solid @colour-secondary-light);

    > .box__title {
      .h1();
      text-align: center;
      color: @colour-secondary-light;
      .font-size(46);
      line-height: 1;
      .padding(bottom, .5);

      position: relative;
      &:after {
        content: " ";
        .sprite-element(0, 2, 220px, 5px);
        position: absolute;
        margin-left: -110px;
        left: 50%;
        bottom: 0;
      }
    }

    > .box__content {
      .location__facilities {
        padding-left: 0;
        .margin(top);

        > .location__facility {
          list-style: none;
          .font-size(15);
          color: @colour-secondary-light;
          .margin(bottom);
          padding-left: 60px;

          position: relative;
          &:before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
          }

          &.parking:before                    { .sprite-element(7,3, 45px, 45px); }
          &.baby-changing:before              { .sprite-element(8,3, 45px, 45px); }
          &.ice-cream:before                  { .sprite-element(9,3, 45px, 45px); }
          &.free-wi-fi:before                 { .sprite-element(7,4, 45px, 45px); }
          &.beer-garden:before                { .sprite-element(8,4, 45px, 45px); }
          &.cakeaway:before                   { .sprite-element(9,4, 45px, 45px); }
          &.indoor-childrens-play-area:before { .sprite-element(7,5, 45px, 45px); }
          &.disabled-facilities--wheelchair-access:before { .sprite-element(8,5, 45px, 45px); }
          &.salad-bar:before                  { .sprite-element(9,5, 45px, 45px); }
        }
      }
    }
  }
}

.box--highlighted-list {
  .margin(bottom);
  clear: both;
  
  > .box__inner {
    background: @colour-secondary;
    border-top: 1px solid @colour-secondary-dark;

    > .box__title {
      .padding(horizontal, 1.5);
      .font-size(24);
      font-weight: 700;
      margin: 0;
      .padding(vertical, .6);
      border-bottom: 1px solid @colour-secondary-dark;
    }

    > .box__content {
      > ul {
        padding: 0;

        > li {
          list-style: none;
          .font-size(19);
          .padding(horizontal, 1.5);
          .padding(vertical, .6);
          border-bottom: 1px solid @colour-secondary-dark;
        }
      }
    }
  }
}

.box--contact-panel {
  > .box__inner {
    text-align: center;

    > .box__content {
      .box__title {
        .font-size(23);
        font-weight: 700;
      }

      > div {
        > img {
          .margin(bottom);
        }

        > a {
          .font-size(16);
          text-decoration: underline;

          &:after {
            content: "\f105";
            display: inline-block;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            speak: none;

            .margin(left, .5);
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.section-what-we-do-best .box--node > .box__inner {
  h1 {
    line-height: 1;
    border-bottom: 2px dotted @colour-primary;
    .padding(bottom);
    .margin(bottom);
  }
}
