.cookies {
  background: @colour-secondary-lighter;
  .font-size(14);
  text-align: center;
  .padding(vertical, .5);
  border-top: 4px solid @colour-tertiary-light;

  z-index: 200;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  .cookies__title {
    .element-invisible();
    margin: 0;
    padding: 0;
  }

  .cookies__message {
    .inline-block();

    > p {
      margin-bottom: 0;
    }
  }

  .cookies__options {
    .inline-block;
    padding: 0;
    margin: 0;

    > li {
      list-style: none;
      .inline-block;
      .margin(left, .5);
    }

    .cookies__continue {
      text-indent: -9999px;

      > a:after {
        content: "\f00d";
        display: inline-block;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        speak: none;

        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
