.form-item {}

.webform-component {
  .clearfix();

  .form-item__label {
    display: block;
    width: 100%;
    .margin(bottom, .5);
  }

  .description {
    .margin(top, .5);
  }

  // &.webform-component-textfield {
  //   display: table;
  //   width: auto;

  //   > .form-item__label {
  //     display: table-caption;
  //   }

  //   > .field-prefix,
  //   > .field-suffix,
  //   > .form-text {
  //     display: table-cell;
  //   }

  //   > .form-text {
  //     height: 48px;
  //   }

  //   > .field-prefix,
  //   > .field-suffix {
  //     .padding(horizontal, .5);
  //     background: @colour-neutral;
  //     color: #fff;
  //     border: 1px solid @colour-neutral;
  //   }
  // }

  &.webform-component-date {
    > .webform-datepicker {
      .clearfix();

      > .form-item {
        width: auto;
        float: left;
        .margin(right, .5);
        .margin(bottom, .5);
        width: 100px;

        .form-text {
          width: 100%;
        }

        .selecter {
          max-width: none;
        }
      }

      > .webform-calendar {
        float: left;
      }
    }
  }

  &.webform-component-webform_time {
    > .webform-container-inline {
      line-height: 0;

      > .form-item,
      > .form-radios {
        .inline-block;
        width: auto;
        min-width: 100px;
        vertical-align: middle;
        .margin(right, .5);
        .margin(bottom, .5);
        .selecter {
          max-width: none;
        }
      }

      .form-item--edit-submitted-time-minute {
        .margin(left, .5);
      }
    }
  }

  &.webform-component-managed_file {
    .form-managed-file {
      .inline-block();

      > .form-file,
      > .file {
        background: #fff;
        .padding(horizontal, .5);
        padding-top: 10px;
        border-top: 1px solid @colour-neutral-light;
        border-bottom: 1px solid @colour-neutral-light;
        border-left: 1px solid @colour-neutral-light;
        vertical-align: top;
        height: 48px;
        display: block;
        float: left;
        width: auto;
      }

      .form-submit {
        .border-radius(0);
        height: 48px;
        float: left;
      }
    }
  }

  &.webform-component-select {
    > .selecter {
      min-width: 200px;
    }
  }
}



#fi-locations-search-form {
  > div {
    .clearfix();
    .button-append();

    > .form-item {
      margin-bottom: 0;

      > .form-item__field > input {
        .font-size(14);
      }
    }

    > .form-item > .form-item__field > input,
    > .form-button {
      border-width: 1px;
    }
  }
}

.section-pub-search #gk-locations-search-form {
  position: relative;
  z-index: 1;

  #edit-search,
  #edit-advanced-search {
    > .fieldset-wrapper {
      padding: 0;
      background: none;
      border: 0;
    }
  }

  #edit-search {
    border: 0;
    margin: 0;
    position: relative;

    > .fieldset-wrapper {
      > .form-item__toggle {
        color: @colour-secondary-lighter;
        text-decoration: underline;
        .font-size(17);

        &:hover {
          color: @colour-tertiary-light;
        }

        display: none;

        .js & {
          display: inline;
        }
      }

      > h1 {
        text-transform: uppercase;
        .font-size(36);
        color: @colour-secondary-lighter;
        padding: 0;
        border: 0;
      }

      .button-append();

      > .form-item {
        margin: 0;
      }

      > .form-item > .form-item__field > input {
        .padding(left);
      }

      > .form-item > .form-item__field > input,
      > .form-button {
        border-color: @colour-neutral-darker;
      }
    }
  }

  #edit-advanced-search {
    padding: 0;
    border: 0;

    .js & {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 105;
      > .form-wrapper { .margin(top, .5); }
    }

    .form-item__toggle {
      display: block;
      position: absolute;
      top: 15px;
      .margin(top, .5);
      right: 15px;
      text-indent: -9999px;
      .sprite-element(11, 1, 24px, 24px);
    }

    > .fieldset-wrapper > .form-wrapper {
      .padding(all);
      .box-shadow(inset 0 4px 6px 0 rgba(0,0,0,.5));
      border-bottom: 2px solid @colour-neutral-darker;
      width: 100%;

      background: url(../images/textures/textile-light.jpg);

      > .form-item--edit-facilities {
        .clearfix();
        margin-bottom: 0;

        > .form-item__label {
          color: @colour-secondary-light;
          .font-size(17);
          text-align: right;
          width: 100%;
        }

        .form-item__field {
          margin: 0;

          .form-item--checkbox {
            .margin(vertical, .5);
            > .form-item__field {
              margin: 0;

              > label {
                color: #fff;
                float: left;
                padding-right: 30px;
              }

              > input {
                margin-left: -30px;
                float: right;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.section-pub-search #gk-locations-search-form {
  #edit-advanced-search {
    .form-item--edit-radius {
      margin-bottom: 0;

      .selecter {
        max-width: 200px;
        margin: 0 auto;
        .margin(top);
      }
    }
  }
}
