.node--location {
  .gk-core-slideshow,
  .location__default-image {
    .clearfix();
    .margin(bottom);

    .gk-core-slideshow-slide__image,
    .gk-core-slideshow__slide {
      width: 100%;
      height: auto;
    }
  }
}

.box--order-by-links {
  > .box__inner {
    background: @colour-secondary;
    .padding(horizontal);
    .padding(vertical, .5);

    > .box__content {
      &:before {
        content: "Filter by:";
        .margin(right);
        color: @colour-neutral-darker;
        .font-size(17);
        font-weight: bold;

        .inline-block();
      }

      > a {
        border: 2px dotted @colour-neutral-dark;
        .border-radius(@base-border-radius);
        .padding(horizontal);
        .padding(vertical, .25);
        .margin(right);
        color: @colour-neutral-dark;
        .font-size(16);
        .inline-block();

        &.is-active,
        &:hover {
          background: @colour-secondary-dark;
          color: @colour-neutral-darker;
        }

        &.is-active:hover {
          cursor: default;
        }
      }
    }
  }
}

.locations-list--by-letter {
  > .box--location-list-group {
    margin-bottom: 0;

    &:last-child {
      > .box__inner {
        padding-bottom: 0;
      }
    }

    > .box__inner {
      .padding(bottom, 1.25);
      .padding(top, .5);
      padding-left: 20px;

      .clearfix();

      > .box__title {
        .font-size(26);
        color: @colour-primary;
        font-weight: 700;

        display: block;
        float: left;
        width: 20px;
        margin-left: -20px;

        .transition(.2s color);
      }

      > .box__content {
        display: block;
        float: left;
        margin-bottom: 0;
        padding-top: 10px;

        > li {
          list-style-type: none;
          .margin(bottom, .6);
          &:last-child {
            margin-bottom: 0;
          }

          > a {
            color: @base-font-colour;
            .font-size(18);
            line-height: 1.2;

            &:hover {
              text-decoration: underline;
              color: @colour-primary;
            }
          }
        }
      }
    }
  }
}

.locations-list--by-location {
  > .box--locations-list-group {
    .margin(bottom, .75);

    > .box__inner {
      > .box__title {
        .font-size(26);
        color: @colour-primary-light;
      }

      > .box__content {
        display: block;
        margin-bottom: 0;

        .box--locations-list-locality {
          > .box__title {
            .font-size(22);
          }

          > .box__content {
            padding-left: 0;

            > li {
              list-style-type: none;

              > a {
                color: @base-font-colour;
                .font-size(18);

                &:hover {
                  text-decoration: underline;
                  color: @colour-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-pub-search {
  #primary {
    > .inner {
      padding: 0;
      background: 0;
    }
  }

  #content { position: relative; }

  #top {
    background: url(../images/textures/textile-dark.jpg);

    position: relative;
    z-index:12;
    &:before {
      content: " ";
      z-index: 1;
      position: absolute;
      top: 5px;
      right: 0;
      bottom: 5px;
      left: 0;
      border-top: 1px solid @colour-secondary-darker;
      border-bottom: 1px solid @colour-secondary-darker;
    }

    > .container__inner > .grid {
      .padding(vertical, .5);
    }
  }

  #content-header .tabs {
    display: none;
  }

  #main {
    padding-top: 0;

    > .container__inner {
      > .grid {
        padding-top: 0;
      }
    }
  }
}

.location-map {
  border: 1px solid @colour-secondary-dark;
  .box-shadow(1px 6px 6px -4px rgba(0,0,0,.35));

  img {
    max-width: none;
  }
}

.location-search-results {
  .padding(all);
  background: @colour-secondary-light;

  > .location-search-results__list-item {
    .padding(vertical, .5);
    border-top: 2px dotted @colour-secondary;

    > .location-search-results__title > a {
      color: @colour-neutral-darker;
      font-weight: bold;

      &:hover {
        color: @colour-tertiary-light;
        text-decoration: underline;
      }
    }

    > .location-search-results__county {
      font-weight: bold;
      color: @colour-neutral;
    }

    > .location-search-results__distance {
      color: @colour-tertiary;
    }

    > .location-search-results__cta {
      text-decoration: underline;
      font-weight: bold;
      line-height: 1;

      &:after {
        content: "\f105";
        display: inline-block;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        speak: none;
        .font-size(28);
        line-height: 1;

        .margin(left);
        vertical-align: middle;
      }
    }

    &:first-child {
      padding-top: 0;
      border-top: 0;

      > .location-search-results__title > a {
        .font-size(18);
        color: @colour-primary-light;

        &:hover {
          color: @colour-tertiary-light;
          text-decoration: none;
        }
      }

      > .location-search-results__county {
        .font-size(17);
      }

      > .location-search-results__distance {
        .font-size(17);
      }
    }
  }
}
