.nav {}

.nav__item {}

.menu-block-gk-core-main-menu {
  .nav__item {
    > a {
      font-family: @headings-font-family;
      .font-size(18);
      color: @colour-primary-light;

      &:hover {
        color: @colour-tertiary;
      }
    }

    &.is-active > a {
      text-decoration: underline;
      &:hover { color: @colour-primary-light; }
    }
  }
}

.mti-loading,
.mti-inactive
.no-js {
  .menu-block-gk-core-main-menu {
    .nav__item {
      > a {
        .font-size(16);
      }
    }
  }
}

#header-top {
  .box--menu-block-gk-core-user-menu {
    margin-bottom: 0;
  }

  .nav {
    .margin(vertical, .2);
    float: right;

    > .nav__item {
      display: inline;
      .margin(left, .5);

      > a {
        text-decoration: underline;
        .font-size(13);
        color: @colour-neutral;
      }
    }
  }
}

#footer {
  .nav {
    > .nav__item {
      .margin(top, .25);
      &:first-child { margin-top: 0; }

      > a {
        .font-size(13);
        color: @colour-neutral-lighter;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
