.promotion {
  > a > img,
  > img {
    .constrain-image();
    vertical-align: bottom;

    #main & {
      width: 100%;
    }
  }

  position: relative;
  text-align: center;

  .promotion__cta {
    background: @colour-secondary-light;
    color: @colour-primary-light;

    display: block;
    .padding(horizontal, .3);

    height: 40px;
    line-height: 40px;
    white-space: nowrap;

    &:hover {
      background: @colour-tertiary;
      color: @colour-secondary-light;
    }

    &:after {
      content: "\f105";
      display: inline-block;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      speak: none;

      .margin(left, .5);
      vertical-align: middle;
    }
  }

  &.promotion--image .promotion__cta {
    position: absolute;
    top: 100%;
    margin-top: -20%;
    left: 8%;
    right: 8%;
  }

  &.promotion--carvery-chalk-board {
    text-align: center;

    .promotion__cta {
      .margin(top, .5);
      position: static;
      .inline-block;
      margin-left: auto;
      margin-right: auto;
      .padding(horizontal);
      background: @colour-primary;
      color: @colour-secondary-light;
      &:hover {
        background: @colour-tertiary;
      }
    }
  }
}

.promotion--text {
  .section--border(@colour-secondary-dark, 1px dotted @colour-secondary-light);
  //.padding(all, .5);
  > a {
    > .promotion__title {
      .h1();
      text-align: center;
      color: @colour-secondary-light;
      .font-size(36);
      line-height: 1;
      .padding(bottom, .5);
      margin-top: 0;

      position: relative;
      &:after {
        content: " ";
        .sprite-element(0, 2, 220px, 5px);
        position: absolute;
        margin-left: -110px;
        left: 50%;
        bottom: 0;
      }
    }

    > .promotion__body {
      .margin(vertical);
      color: @colour-secondary-light;
      .font-size(18);
    }

    > .promotion__cta {
      background-color: @colour-primary;
      color: @colour-secondary-light;

      &:hover {
        background-color: @colour-tertiary;
      }
    }
  }
}


.promotion-group {
  .promotion {
    width: 100%;
  }

  .promotion-group__pager {
    float: right;
    .margin(top, .25);
    .margin(right, .5);

    > span {
      .font-size(12);
      .margin(left, .25);
      color: @colour-neutral;
      cursor: pointer;

      &.cycle-pager-active {
        color: #fff;
        cursor: default;
      }
    }
  }

  .promotion-group__prev,
  .promotion-group__next {
    position: absolute;
    top: 50%;
    z-index: 105;

    &:before {
      content: " ";
    }
  }

  .promotion-group__prev {
    left: 20px;
  }

  .promotion-group__next {
    right: 20px;
  }
}

.box--promotion-group-cake-carousel {
  .box__inner {
    border-width: 2px;
    border-color: @colour-secondary-dark;
    border-style: dotted;
    margin-left: 10px;
    margin-right: 10px;

    .borderradius & {
      .border-radius(@base-border-radius);
    }

    .borderimage & {
      .border-radius(none);
      margin-left: 20px;
      margin-right: 20px;
      border-width: 25px;
      .border-image(url(../images/misc/cake-carousel-border.png) 25 25 round);
    }

    .promotion-group__pager {
      position: absolute;
      right: 0;
      margin: 0;
      bottom: -40px;

      .borderimage & {
        right: -20px;
        bottom: -60px;
      }
    }

    .promotion-group__prev,
    .promotion-group__next {
      position: absolute;
      top: 50%;
      z-index: 105;

      display: block;
      width: 40px;
      height: 40px;
      background: @colour-secondary-light;
      .border-radius(100%);
      .box-shadow(1px 1px 1px rgba(0,0,0,.3));

      &:before {
        display: block;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        speak: none;
        .font-size(30);
        text-align: center;
        line-height: 42px;
        color: @colour-secondary-dark;
      }

      .transition(all .2s);

      &:hover {
        background: @colour-primary;
        cursor: pointer;

        &:before {
          color: @colour-secondary-light;
        }
      }
    }

    .promotion-group__prev {
      left: -20px;

      &:before {
        content: "\f104";
        margin-right: 3px;
      }

      .borderimage & {
        left: -42px;
      }
    }

    .promotion-group__next {
      right: -20px;

      &:before {
        content: "\f105";
        margin-left: 2px;
      }

      .borderimage & {
        right: -42px;
      }
    }
  }
}
