#header-top {
  background: #111111;

  > .container__inner {
    > .grid {
      padding: 0;
    }
  }
}

#header {
  > .container__inner {
    > .grid {
      padding: 0;
    }
  }
}

#navigation {
  background: url(../images/textures/bg--cream.jpg);

  > .container__inner {
    > .grid {
      padding: 0;
    }
  }
}

#main {
  .padding(top);
  background: url(../images/textures/bg--cream.jpg);
}

#primary {
  > .inner {
    .section();

    .section-menus &,
    .section-what-we-do-best &,
    .front & {
      background: none;
      padding: 0;
    }
  }
}

.section-what-we-do-best .box--node > .box__inner {
  .section();
}

#content-top > .grid__cell:last-child {
  .margin(bottom);
}

#content-bottom {
  .padding(top);
}

#bottom {
  background: url(../images/textures/bg--mocha.jpg);
  .front & {
    background: url(../images/textures/tileable-wood.jpg);
  }
}

#footer {
  .padding(vertical);
}

#footer-bottom {
  text-align: center;
  .font-size(13);
  color: @colour-neutral-light;

  border-top: 1px dashed @colour-neutral;
  > .container__inner > .grid { .padding(top, .5); }
}

/**
 ** By section
 */
.section-menus {
  #banner {
    background: url(../images/content/menus-masthead-banner.jpg) 50% 50% no-repeat;
  }
}

.section-pubs,
.section-find-pub {
  #banner {
    background: url(../images/content/find-a-pub-banner.jpg) 50% 50% no-repeat;
  }
}

.section-what-we-do-best {
  #banner {
    background: url(../images/content/what-we-do-best-masthead-banner.jpg) 50% 50% no-repeat;
  }
}

.section-contact {
  #banner {
    background: url(../images/content/contact-masthead-banner.jpg) 50% 50% no-repeat;
  }
}

.section-about-us {
  #banner {
    background: url(../images/content/about-us-masthead-banner.jpg) 50% 50% no-repeat;

    .box--fi-core-fi-core-page-strapline > .box__inner {
      max-width: 600px;
      margin: 0 auto;

      > .box__content {
        .font-size(50);
      }
    }
  }
}

.section-careers {
  #banner {
    background: url(../images/content/careers-masthead-banner.jpg) 50% 50% no-repeat;
  }
}
