.gk-core-slideshow {
  .gk-core-slideshow__pager {
    float: right;
    .margin(top, .25);
    .margin(right, .5);

    > span {
      .font-size(12);
      .margin(left, .25);
      color: @colour-neutral;

      &.cycle-pager-active {
        color: #fff;
      }
    }
  }
}
