.tabset {
  .tabset__nav {
    border-color: @colour-neutral-light;
    .margin(bottom, 1.5);

    > li {
      .margin(right, .25);

      > a {
        .padding(horizontal, 2);
        .border-radius(3px 3px 0 0);
        border-color: @colour-neutral-light;
        background-color: @colour-secondary;

        font-family: @headings-font-family;
        .font-size(17);
        line-height: 3;
        color: @colour-neutral;


        &:hover {
          background-color: @colour-secondary;
          color: @colour-secondary-light
        }
      }

      &.is-active > a,
      &.is-active > a:hover {
        background-color: @colour-secondary-light;
        border-color: @colour-neutral-light;
        border-bottom-color: transparent;
        color: @colour-neutral-dark;
        margin-bottom: 0;
      }
    }
  }
}
