body {
  background: url(../images/textures/bg--footer.jpg);
}

img {
  max-width: 100%;
  height: auto;

  .node__content & {
    vertical-align: bottom;
  }
}

p.standfirst {
  .font-size(17);
  line-height: 1.6;
  font-weight: 700;
  font-style: italic;
  color: @colour-neutral-darker;
}

p.standout {
  background: @colour-secondary;
  .font-size(18);
  color: @colour-neutral-darker;

  //font-style: italic;
  .padding(horizontal, 2);
  .padding(vertical, 1.5);
  border: 0;
}

blockquote {
  border-left: 2px solid @colour-tertiary-light;
  font-family: @headings-font-family;
  .font-size(20);
  color: @colour-neutral;
  background: #fff;
  .padding(horizontal, 2);
  .padding(vertical, 1.5);

  &.pull-quote {
    background: none;
    .font-size(23);
    .padding(horizontal, .5);
    background: url(../images/misc/pull-quote-border.png) center top no-repeat, url(../images/misc/pull-quote-border.png) center bottom no-repeat;

    &:before {
      content: " ";
      position: static;
      .sprite-element(7, 2, 25px, 21px);
      .inline-block;
      .margin(right);
    }

    &:after {
      content: " ";
      .sprite-element(8, 2, 25px, 21px);
      .inline-block();
      float: right;
      .margin(left);
      margin-top: 2px;
    }
  }
}


