.button, button, input[type=submit], a:link.button, a:visited.button {
  background: @colour-primary;
  .border-radius(@base-border-radius);
  border: 0;

  font-weight: 700;
  font-family: @headings-font-family;
  .font-size(18);
  height: 48px;
  line-height: 48px;

  .padding(horizontal, .8);
  padding-top: 0;
  padding-bottom: 0;

  .transition(all .2s);

  &:hover {
    background: @colour-tertiary;
  }
}
