@font-face {
  font-family: 'HandyGeorge';
  src: url('../fonts/HandyGeorge/HandyGeorge.eot');
  src: url('../fonts/HandyGeorge/HandyGeorge.eot') format('embedded-opentype'),
       url('../fonts/HandyGeorge/HandyGeorge.woff') format('woff'),
       url('../fonts/HandyGeorge/HandyGeorge.ttf') format('truetype'),
       url('../fonts/HandyGeorge/HandyGeorge.svg#HandyGeorge') format('svg');
  font-weight: normal;
  font-style: normal;
}
