.selecter-options {
  z-index: 110;
}

label, .form-item__label {
  font-family: @headings-font-family;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
.selecter .selecter-selected {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  height: 48px;
  width: 100%;
  max-width: 100%;
}

.selecter .selecter-selected {
  line-height: 48px;
}

// Stop the original select element from being selectable from outside element area.
html.js .selecter-element {
  z-index: -1;
}

.webform-container-inline .selecter,
.webform-container-inline div.selecter,
.selecter {
  margin: 0;
  display: block;

  &.open > .selecter-selected {
    // .border-radius(8px);
  }

  > .selecter-selected {
    border-radius: 0;
    background-color: white;
  }

  // &.open {
  //   > .selecter-selected {
  //     background-color: #fff;
  //     .border-radius(8px 8px 0 0);
  //   }

  //   > .selecter-options {
  //     .border-radius(0 0 8px 8px);

  //     > .selecter-item {
  //       .padding(horizontal, 1/2);
  //       .font-size(16);

  //       &.last {
  //         .border-radius(0 0 8px 8px);
  //       }
  //     }
  //   }
  // }
}

fieldset {
  padding: 0;
  border: 0;

  > legend {
    text-align: left;
    .padding(horizontal);
    .padding(vertical, .5);
    margin: 0;
    background: @colour-secondary;
    color: @colour-secondary-darker;
    width: 100%;
  }

  > .fieldset-wrapper {
    border: 1px solid @colour-secondary;
    border-top: 0;
    background: @colour-secondary-lighter;
    .padding(all);
  }
}
