h1, h2, h3, h4, h5, h6 {

}

.h1() {
  font-family: @alt-font-family;
  .font-size(45);
  color: @colour-primary;
  text-transform: uppercase;
  letter-spacing: -4px;
}

h1 { .h1(); }

#page-title {
  .padding(bottom, .8);
  border-bottom: 1px dashed;
  .margin(bottom);
  margin-top: 0;
  line-height: 1;

  &.is-invisible {
    padding: 0;
    margin: 0;
  }
}

h1:first-child {
  margin-top: 0;
}
